@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    position: relative;
    font-family: 'Mulish', sans-serif;
    color: #fff;;
}

/* Navbar styling */

.nav-style {
    background-color:  #007542;
   
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}

.logo {
    max-width: 85px;
    max-height: 85px;
}

.btn-nav {
    color: #007542;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    background-color: #fff;
    border-color: #007542;
    border-radius: 23px;
    float: right;
    height: 40px;
    width: 125px;
    padding: 0;
}

.btn-nav:hover {
    background: black;
    color: #fff;
}

/* Landing page */

.bg-container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../images/landing.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bg-container-pages {
    height: 100%;
    position: relative;
    background: url("../images/landing.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    justify-content: center;
    
}

.jumbotron-landing {
    background-color: transparent;
}

.jumbo-text-landing {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-title {
    background-color:  #fff;
    border-radius: 25px;
    color: #007542;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 23px;
    margin-top: 25px;
    height: 50px;
    width: 50%;
    padding-top: 10px;
}

.btn-title:hover {
    background: black;
    color: #fff;
}

/* Footer */

footer {
    background-color: #007542;
    position: relative;
    width:100%;
}

.foot-style {
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    padding-top: 15px;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background: #007542;
}

.social-links li a i:hover {
    background: black;
}

.btn-foot {
    color: #007542;
    font-family: 'Mulish', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 23px;
    margin-top: 25px;
    height: 50px;
    width: 50%;
    padding: 0;
}

.btn-foot:hover {
    background: black;
    color: #fff;
}

.contact li {
    list-style-type: none;
    padding-right: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.email-detail a {
    color: #fff;
    text-decoration: none;
}

.email-detail a:hover {
    color: black;
}

.bullet {
    list-style-type: none;
}


/* About */

.about-text {
    font-size: 24px; 
    position: relative;
    text-align: justify;
    padding: 1em, 0;
}

#about {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.about-text a {
    color: #fff;
    text-decoration: underline;
}

.btn-about {
    color: #007542;
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    background-color:#fff;
    border-radius: 23px;
}

.btn-about:hover {
    background: black;
    color: #fff;
}

/* Regions */

/* Cards */

.card-title {
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    text-align: left; 
}

.card-text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align: justify;
}

.card {
    margin-bottom: 20px;
    margin-top: 20px;
    border-color: #007542;
    border-width: 5px;
    background-color: #007542;
}

.card-img {
    width: 90%;
    height: 280px;
    display: table;
}

.card-body {
    padding: 0;
    margin-top: 15px;
    margin-right: 20px;
}

/* Producers */

.spacing {
    padding-bottom: 15px;
}

/* Wines */

#red, #white, #spark {
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-text {
    font-size: 24px;
}
/* Modal */

.modal {
    color: black;
}

.btn-modal {
    color: #007542;
    font-family: 'Mulish', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 23px;
    margin-top: 25px;
    height: 50px;
    width: 50%;
    padding: 0;
    float: right;
}

.btn-modal:hover {
    background: #007542;
    color: #fff;
}
